<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Help Page</title>
</head>
<body>
    {{> header}}
    {{!-- <h1>{{pageTitle}}</h1> --}}
    {{!-- <p>Some para text</p> --}}
   {{!-- <p>{{welcomeMessage}}</p> --}}
      <p>{{screamIt welcomeMessage}}</p>

   {{> footer}}
    {{!-- <footer>
    Copyright @ {{currentYear}}
</footer> --}}
</body>

</html>