<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Help Page</title>
</head>
<body>
    {{> header}}
    {{!-- <h1>{{pageTitle}}</h1> --}}
    <p>Project page text here</p>
    {{> footer}}
    {{!-- <footer>
    Copyright @ {{currentYear}}
</footer> --}}
</body>

</html>